.text1 {
  font-size: 72px;
  font-family: forte;
}

.text2 {
  font-size: 32px;
  font-family: fantasy;
}

.link1 {
  font-size: 20px;
  font-family: Arial Black;
}

.test1 {
  font-size: 20px;
  font-family: Arial Black;
}

.test2 {
  font-size: 20px;
  font-family: Arial Black;
}

.table1 {
font-size: 32px;
font-family: Impact;
}
body {
  background-image: url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
