.title1 {
  font-size: 96px;
  font-family: impact;
  font-style: italic;
}

.tit2 {
  font-size: 40px;
  font-family: lucida bright bold;
  font-style: italic;
}
.tit3 {
  font-size: 32px;
  font-family: lucida bright bold;
  font-style: italic;

}
body {
  background-image: url(https://img.freepik.com/premium-vector/white-elegant-texture-background_23-2148433720.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
