
/* navigointipalkin tyyli */
.navbar {
    overflow: hidden;
    background-color: rgb(14, 14, 14);
    font-family: Arial;
  }
  
  /* linkit navigointivalikossa */
  .navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
  }
  
  /* yhteystietojen valikko */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* dropdown nappi */
  .dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 26px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* lisää mustan värin ku pidät hiirtä napin päällä */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(54, 54, 54);
    opacity: 100%;
  }
  
  /* yhteystietojen sisältö */
  .dropdown2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* linkit yhteystiedoissa */
  .dropdown2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* lisää harmaan taustan dropdown menuun */
  .dropdown2 a:hover {
    background-color: #ddd;
  }
  
  /* näyttää dropdownin ku pidät hiirtä siinä */
  .dropdown:hover .dropdown2 {
    display: block;
  }
  body, html {
    height: 100%;
}

/* taustakuva yms */
.kuva1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/vuoret2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* teksti keskellä */
.teksti1 {
  font-size: 38px;
  font-family: Arial;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} 
/* leipä tekstin fontti */
.moimoi123 {
    font-style: italic;
}

/* napin tyyli */
.nappi1 {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* ku pidät hiirtä siin napin pääl nii siit tulee siisti väri */
.nappi1:hover {
    background-color: rgb(65, 65, 65);
}