/* Topnav's container*/
.topnav-container {
    margin: 0;
    background-color: #101935;
    padding: 1% 1% 1% 1%;
}

/*Logo on the top left*/
.topnav-logo {
    margin-left: 3%;
}

/* Secondary login button on the top right*/
.login-button-topright {
    border: 2px solid #f2fdff;
    padding: 0.5% 2% 0.5% 2%;
    border-radius: 50px;
    font-size: 22px;
    font-family: sarabun;
    
    float: right;
    margin: -3.2% 3.3% 0 0;
}

/* When you hover over login button top right you get this style on it*/
.login-button-topright:hover {
    background-color: #7e7f9a;
    border-color: #7e7f9a;
    color: #f2fdff;
}

/* Style of primary login button below the title and paragraph*/
.login-button-primary {
    background-color: #101935;
    color: #f2fdff;
    padding: 12.5px 40px 12.5px 40px;
    border-radius: 50px;
    font-family: sarabun;
    font-size: 22px;
}

/* This style appears on the primary login button when you hover over it*/
.login-button-primary:hover {
    background-color:#7e7f9a;
    border-color: #7e7f9a;
    color: #f2fdff;

}

/*This is container for ALL hero texts*/
.text-container {
    margin: 10% 0 0 9%;
    width: 35%;
}

/* This is the main title */
.tervetuloa-text {
    font-family: fjalla one;
    font-size: 52px;
    color: #7e7f9a;
}

/* This is paragraph below the main title*/
.paragraph-below-title {
    font-size: 22px;
    font-family: sarabun;
}

/* This is container for the image on the right*/
.rightside-image-container {
    border: 1.5px solid black;
    border-radius: 7.5px;
    float: right;
    margin: -18.5% 4% 2% 0;
}

/* This is border radius for the image on the right*/
.weather-img {
    border-radius: 15px;
}


/* This is container for the hero texts, img and primary login button*/
.container {
    margin-top: -2.5%;
    padding-bottom: 10%;
}

/* This is container for the footer*/
.footer-container {
    margin-top: 15%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color:#101935;
    text-align: center;
    font-family: sarabun;
}


