.box1 {
  background-color: #007FFF;
  box-sizing: border-box;
  padding: 50px;
  margin: 100px;
}

h2 {
  font-size: 60px;
  margin: 0;
  color: white;
  background-color: #FA8072;
  margin: -120px 0 0 -50px;
  margin: 0 auto;
}
