.navbar {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0e0e;
    border-radius: 15px;
  }
  
  .navbar li {
    float: left;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
  }
  
  li a:hover {
    background-color: rgb(0, 0, 0);
  }

  .socials {
    float: right;
    padding-right: 20px;
    font-size: 31px;
  }



  .otsikon-container {
    margin-left: 375px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding-top: 75px;
    color: white;
}

.para-below-title {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 375px;
    margin-top: -20px;
    color: white;
}

.btn-more {
    padding: 12px 25px 12px 25px;
    font-size: 20px;
    margin-left: 375px;
    margin-top: 20px;
    background-color: #0f0f0f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 15px;
}

.btn-more:hover {
    background-color: rgb(0, 0, 0);
}

.footer-text {
    background-color: #161616;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 25px;
}
.kuva-container {
    width: 600px;
    height: 400px;
    float: right;
    margin-top: -15%;
    margin-right: 250px;
    border-radius: 15px;
}

body {
  background-image: url("https://img.freepik.com/premium-photo/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-595.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
 }

 /* temporary image */
 .temp-img1 {
  float: right;
  color: white;
  padding-top: 30px;
 }