body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    letter-spacing: 1px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

.maintitle {
    margin-top: 250px;
    font-weight: bold;
    font-size: 32px;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 0;
}

li {
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
}

.shake {
    animation: shake 0.1s;
}

.pop {
    animation: pop 0.5s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-3deg);
    }

    50%{
        transform: rotate(0deg);        
    }

    75%{
        transform: rotate(3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.06);
    }
    
    100% {
        transform: scale(1);
    }
}