body {
    background-color: #f5f5f5;
    text-align: center;
}

.letter {
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    color: #999;
}

.letter.active {
    transform: scale(1.0) rotate();
    color: red;
}
