body {
    color: white;
    font-family: 'Sarabun';
    background-image: url('https://images.unsplash.com/photo-1651085349238-75cac5c9258b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDM3ODMxfHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
}


/* This is top navigation */
.topnav {
    margin: 2.5% 0 0 0;
    background-color: #131313b2;
    width: 100%;
    padding: 3px 0;
}

    /* This is for top nav's unordered list */
    .topnav ul{
    text-align: center;
    }
        /* This is for top nav's list items */
        .topnav li {
        margin: 0;
        padding: 0;
        display: inline-block;
        }
            /* Styling for top nav's links, padding, margin, font size, etc.. */
            .topnav a {
            display: block;
            padding: 8px;
            margin: 0 15px;
            color: #bdbdbd;
            font-size: 150%;
            text-decoration: none;
            }
                /* Changes style of top nav's link when you hover over it */
                .topnav a:hover {
                color: #ffffff;
                font-weight: 300;
                }

.first-container {
    width: 35%;
    font-size: 125%;
    margin: 2.5% 0 0 15%;
    border: 3px dotted red;
    float: left;
}

.first-container-img {
    margin: -45% 0 0 135%;
}















/* Footer styling */
.footer-container {
    position: fixed;
    width: 100%;
    margin-top: 100px;
    bottom: 0;
    text-align: center;
} 
