body {
    font-family:sans-serif;
    background-color: rgb(37, 37, 37);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(37, 37, 37);
    color: white;
}

.navbar-container {
    margin: 0 auto;
    border: 5px dotted rgba(18, 255, 18, 0);
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    border-radius: 25px;
    background-color: rgba(59, 59, 59, 0.308);
    position: sticky;        
    display: flex;
    justify-content: center;
}

.navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 18px;
    margin: 0 30px 0 30px;
}

.navbar li a:hover {
    background-color: rgb(58, 58, 58);
    border-radius: 25px;
}

.main-text-container {
    width: 20%;
    border-radius: 25px;
    margin: 5% 0 0 30%;
    border: 5px dotted rgba(47, 47, 255, 0);
}

.title-name {
    font-size: 400%;
    font-weight: 100;
}

.para-blw-title {
    font-weight: 100;
    margin: -1% 0 3% 0;
    font-size: 150%;
}


/* Contact button styling */
.button-contact {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgb(4, 176, 255);
    padding: 0.75% 2% 0.75% 2%;
    border-radius: 15px;
    margin: 1% 0 0 30%;
}

.button-contact a {
    text-decoration: none;
    color: white;
}

.button-contact:hover {
    background-color: rgb(4, 176, 255);
}

/**/

.footer-container {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-style: italic;
    border-radius: 25px;
}

.upper-title {
    margin: 1% 0 -0.5% 1%;
    font-size: 200%;
    font-style: italic;
}






/*Responsive design for iPhone XR model, max width is 414px
@media screen and (max-width: 414px) {
    
    body {
        background-color: rgb(37, 37, 37);
        background-image: url("https://rare-gallery.com/uploads/posts/926272-world-lines-map-minimalism-white.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    ul.navbar li.right
    ul.navbar li {float: none;}
    
    .navbar {
        background-color: rgba(41, 41, 41);
        
    }
   
    .navbar li a {
        margin: 0 20px 0 20px;
    }

} */
