/* perus tyylit */
body {
  background-color: #d9b38c;
  font-family: Arial, helvetica, sans-serif;
}

/* perus tyylit */
h1 {
  background-color: #3bb9ff;
  border: 4px solid #1589ff;
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  background-color: white;
}

#slogan {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}
/* kuvan ympärillä olevan tilan suuruus */
img {
  margin: 0 0 20px 0;
}

td {
  padding-left: 30px;
}

th {
  text-align: left;
}
/* otsikoiden reunat */
.title {
  border-radius: 15px 15px 0 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: 300;
}

footer {
  background-color: lightgrey;
}
/* ainesosat */
#ingredients {
  background-color: #f9f9f9;
  border-radius: 15px 15px;
  padding-bottom: 5px;
}
/* ohjeet */
#instructions {
  background-color: #ff8a80;
  border-radius: 15px 15px;
  padding-bottom: 5px;
}
/* ravintotiedot */
#nutrition {
  background-color: #f9f9f9;
  border-radius: 15px 15px;
  padding-bottom: 5px;
}
/* arvonta */
#win {
  background-color: orange;
  border-radius: 15px 15px;
  padding-bottom: 5px;
}


