body {
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46);
    font-size: 150%;
}

.main-title {
    text-align: center;
    padding-bottom: 5%;
}

.html-container {
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

.css-container {
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

.js-container {
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

.python-container {
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

.cplus-container {
    width: 20%;
    text-align: center;
    margin-left: 40%;
    padding-bottom: 5%;
}



.footer-container {
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: auto;
}